@charset "UTF-8";
/* Stanford Sites Personal CSS */

/* Homepage banner */
.banner-overlay p {font-size:14px;}
.page-node .content-body .bean-stanford-banner .field {margin-bottom:0;}

/* Format default image, caption, and credits on Stanford Page */
.node .group_s_postcard_image {width:283px; float:right; margin-left:20px; margin-bottom:20px; max-width: 50%;}
.page-node #content-body .group_s_postcard_image .field {margin-bottom:0px;}
.node .group_s_postcard_image { margin-bottom: 0px; margin-left: 0px; width: auto; }
.node .group_s_postcard_image .field-collection-container > .field > .field-items > .field-item { margin-left:1em; margin-bottom: 1em; max-width: 270px; }
.page-node .content-body .group_s_postcard_content .field {margin-bottom:0;}
.page-node .content-body .postcard-left-wrap > div:first-child, .page-node .content-body .postcard-left > div:first-child { margin-bottom: 1em; margin-right: 1em; }

/* In Stanford Page node body, make sure images are never wider than node body */
.node .group_s_postcard_content img {max-width:100%;}

/* Hide contextual editor on search box */
html.js .region-search-box div.contextual-links-wrapper {display:none;}

/* Media queries */
@media (max-width: 767px) {
/* Footer blocks to single column */
#footer-content .block {width:100%;}
}
@media (max-width: 640px) {
.node .group_s_postcard_image {max-width:50%;}
#main-menu .contextual-links-wrapper {display:none;}
}
@media (max-width: 480px;) {
.view-mode-stanford-8-col-banner img {width:100%;}
.page-node .content-body .view-mode-stanford-8-col-banner .field, #main-content .view-mode-stanford-8-col-banner .border-simple img {margin-bottom: 0;}
}
@media (max-width: 300px) {
.node .group_s_postcard_image {max-width:100%;}
.node .group_s_postcard_image .field-collection-container > .field > .field-items > .field-item { margin-left: 0; }
}

/* ----- Admin Shortcuts bar --------- */

/* Hide headers */
#admin-shortcuts h2 {display:none;}
#admin-shortcuts .block {display: inline-block; position: relative; vertical-align: bottom;}

/* Hide editing of these blocks */
#admin-shortcuts .block .contextual-links-wrapper {display:none;}

/* Home block */
#admin-shortcuts .block.shortcuts-home { top: -9px;}
#admin-shortcuts .shortcuts-home .content a { background-image: url("../images/home.png"); color: transparent; display: inline-block; font-size: 0; height: 25px; padding: 0; width: 30px; }
#admin-shortcuts .shortcuts-home .content a:hover { background-image: url("../images/home.png"); }

/* Hello, gorgeous and logout */
#block-stanford-personal-shortcuts-hello {float:right; margin-top: 6px;}
#admin-shortcuts .shortcuts-user, #admin-shortcuts .shortcuts-logout { display:inline-block; }
#admin-shortcuts .content .shortcuts-user a {text-decoration:underline; margin-right: 10px; padding: 0;}
#admin-shortcuts .content .shortcuts-user a:hover {background: transparent;  color: #CCCCCC;}
#admin-shortcuts .content .shortcuts-user a {display:inline;}
#admin-shortcuts .shortcuts-user .field-content a {display: inline-block; padding: 0; margin-bottom: 2px;}
#admin-shortcuts .shortcuts-user .content a:hover {text-decoration:underline;}

/* Responsive admin shortcuts */
@media (max-width: 979px) {
#admin-shortcuts .content a, #admin-shortcuts .shortcuts-user {margin-bottom: 7px;}
#block-stanford-personal-shortcuts-hello {float:none; margin-top: auto; margin-left: 1em;}
}
@media (max-width: 640px) {
#admin-shortcuts .region-admin-shortcuts {max-width:100%;}
}

/* ----- Admin pages styles (consider moving to Stanford Seven) ----- */
.page-admin-stanford-personal h2:first-child {margin-top: 0.5em;}
.page-admin-stanford-personal h2 {margin-top:1.5em;}
.page-admin-stanford-personal a.btn-request {background-color: green; color: white; padding:8px 15px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; display:inline-block;}
.page-admin-stanford-personal a:hover.btn-request {background-color:#284D15; text-decoration:none;}
.page-admin-stanford-personal td {vertical-align:top; border-top:1px solid #E8E8E8; border-left:none; border-right:none; padding-right: 30px;}
.page-admin-stanford-personal tr td:last-child {border-right:none;}
.page-admin-stanford-personal .block-extrainfo {width:40%; border:1px solid #E8E8E8; float:right; padding:5px 20px 15px 20px; background-color:#FAFAFA; margin-bottom: 30px; clear:right;}
.page-admin-stanford-personal .block-extrainfo-full {border:1px solid #E8E8E8; padding:5px 20px 15px 20px; background-color:#FAFAFA;}

/* Dropdown menu behavior for Admin Shortcuts region (consider moving to Stanford Seven) */
.region-admin-shortcuts .shortcuts-dropdown ul.nav ul {display:none; position: absolute; top: 100%;}
.region-admin-shortcuts .shortcuts-dropdown ul.nav ul li {float: none; position: relative;}
.region-admin-shortcuts .shortcuts-dropdown ul.nav ul li a {margin-bottom: 5px; margin-left: 7px; min-width: 150px;}
.region-admin-shortcuts .shortcuts-dropdown ul.nav ul li.first a {margin-top: 4px;}
.region-admin-shortcuts .shortcuts-dropdown ul.nav ul li.last a {margin-bottom: 10px;}
.region-admin-shortcuts .shortcuts-dropdown ul.nav li.expanded > a:after {background-image: url("../images/expanded-arrow.png"); background-position: center center; background-repeat: no-repeat; content: ""; display: inline-block; height: 5px; margin-left: 5px; padding-bottom: 2px; width: 13px;}
.region-admin-shortcuts .shortcuts-dropdown ul.nav li a {display: block; padding: 25px 40px;}
.region-admin-shortcuts .shortcuts-dropdown ul.nav li:hover > ul {display:block; display: block; z-index: 100; border: 1px solid rgba(0, 0, 0, 0.2);  -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);}

/* "Get Help" page */
.page-admin-stanford-personal .block-extrainfo {
  width: 40%;
  border: 1px solid #E8E8E8;
  float: right;
  padding: 5px 20px 15px 20px;
  background-color: #FAFAFA;
  margin-bottom: 30px;
  clear: right;
}

.page-admin-stanford-personal a.btn-request {
  background-color: green;
  color: white;
  padding: 8px 15px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
}

.page-admin-stanford-personal h2 {
  margin-top: 1.5em;
}

.page-admin-stanford-personal h2:first-child {
  margin-top: 0.5em;
}
